{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <hr />
    {% for auction in auctions %}
       {% if auction.auctionclosed == False %}
            <div id="listingcontainer">
            <a href="{% url 'listingview' slug=auction.slug %}">
               <div id="listing">
               <h3>
                  {{auction.name}}
               </h3>
               <div>
                  {{auction.description}}
               </div>
               <img src="{{auction.url}}" width=300px>
               <div id="highbid">
                  {% if auction.high_bid != None %}
                     <strong>Current bid is:</strong> £{{auction.high_bid|floatformat:2}}
                  {% else %}
                     <strong>The minimum bid for this auction is:</strong> £{{auction.minimumbid|floatformat:2}}
                  {% endif %}
               </div>
               </div>
            </a>
            </div>
            <hr />

      {% endif %}
   {% endfor %}
{% endblock %}
