{% extends "auctions/layout.html" %}

{% block title %}
   {% for auction in auctions %}
      {{auction.name}}
   {% endfor %}
{% endblock %}

{% block body %}
   {% for auction in auctions %}
   <div id=listing>
         <h3>
            {{auction.name}}
         </h3>
         <div>
            {{auction.description}}
         </div>
         <img src="{{auction.url}}" width=300px>
         {% if auction.auctionclosed == True and auction.auctionwinner == user.username %}
         <p>
            You have won the Auction!
         </p>
         {% elif auction.auctionclosed == True and auction.auctionwinner != user.username %}
         <p>This auction has closed</p>
         {% else %}
            <div id="highbid">
               {% if auction.high_bid != None %}
                  <strong>Current bid is:</strong> £{{auction.high_bid|floatformat:2}}
               {% else %}
                  <strong>No bids yet, the minimum bid for this auction is:</strong> £{{auction.minimumbid|floatformat:2}}
               {% endif %}
               {% if user.is_authenticated %}
                  {%if user.username != auction.auctionauthor %}
                  <form action = "{% url 'listingview' auction.slug %}" method="POST">
                     {% csrf_token %}
                     <table>
                        <tr>
                           <th><label for="id_Bid">Place Bid:</label></th>
                           <td><input type="number" name="Bid" step="0.01" required id="id_Bid"></td>
                           <td><input type="submit" value="Submit Bid"></td>
                           <input type="hidden" name="close" value="open">
                  </form>

                  {% else %}

                           <form action="{% url 'listingview' auction.slug %}" method="POST">
                              {% csrf_token %}
                              <table><tr><td><input type="submit" value="Close Auction"></td>
                              <input type="hidden" name="close" value="close">
                           </form>
                  {% endif %}
                  {% if auction in watchlist %}
                     <form action="{% url 'listingview' auction.slug %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Remove from Watchlist">
                        <input type="hidden" name="close" value="removefromwatchlist">
                     </form>
                  {% else %}
                     <form action="{% url 'listingview' auction.slug %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value ="Add to Watchlist">
                        <input type="hidden" name="close" value="addtowatchlist">
                     </form>
                  {% endif %}

               {% else %}
                  <p>
                     Login to place a bid
                  </p>
               {% endif %}
                        <td>{{message}}</td>
                     </tr>
                  </table>
               </form>
            </div>
         {% endif %}
   </div>
   {% endfor %}
{% endblock %}
